In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import os
import MySQLdb
import numpy as np

In [2]:
db = MySQLdb.connect(host="localhost", user="root", passwd="root")
cursor = db.cursor()

In [3]:
infile = "../samples/macho/macho_vizier.tsv"
fdir = "/Users/Nick/Documents/AGBstuff/new_work/samples/macho"

In [4]:
def read_vizier(fin):
    f = open(fin).readlines()
    keep_lines = [line for line in f if (line.startswith("#") == False) & (line.startswith("\n") == False) ]
    columns = keep_lines[0][:-1].split("|")
    data = {}
    for ii in range(len(columns)):
        data[columns[ii]] = []
        
    for ii in range(3, len(keep_lines)):
        the_line = keep_lines[ii][:-1].split("|")
        for jj in range(len(columns)):
            value = the_line[jj]
            try:
                value = float(value)
                data[columns[jj]].append(value)
            except ValueError:
                value = value
                data[columns[jj]].append(value)
    
    data = pd.DataFrame(data)
    return data

In [5]:
def create_table():
    sql = "DROP TABLE agbtables.macho_raw;"
    cursor.execute(sql)
    
    sql = "CREATE TABLE agbtables.macho_raw (macho_cnt INT NOT NULL AUTO_INCREMENT,"
    sql += "field INT, tile INT, seq INT, ra DOUBLE, decl DOUBLE, glon DOUBLE, glat DOUBLE, per_r DOUBLE, per_b DOUBLE,"
    sql += "vmag DOUBLE, rmag DOUBLE, r_amp DOUBLE, b_amp DOUBLE, br_amp DOUBLE,"
    sql += "rsig DOUBLE, bsig DOUBLE, var_idx DOUBLE, star_class INT, n_obs INT,"
    sql += "PRIMARY KEY (macho_cnt))"
    cursor.execute(sql)

In [6]:
def ingest(fname):
    sql = "LOAD DATA LOCAL INFILE '%s'" % (fdir+"/"+fname)
    sql += " INTO TABLE agbtables.macho_raw FIELDS TERMINATED BY ',' ("
    sql += "field, tile, seq, ra, decl, glat, glon, per_r, per_b,"
    sql += "vmag, rmag, r_amp, b_amp, br_amp, rsig, bsig, var_idx, star_class, n_obs"
    sql += ");"
    
    sql_file = open(fdir+"/load_data.sql", "w")
    sql_file.write(sql)
    sql_file.close()
    os.system("mysql -u root --password=root < %s/load_data.sql" % fdir)

In [7]:
output = read_vizier(infile)

In [8]:
output.to_csv(fdir+"/macho_for_db.dat", sep=",", columns=["Field","Tile","Seqn","_RAJ2000","_DEJ2000","_Glat","_Glon","rPer","bPer","Vmag","Rmag","rAmp","bAmp","cAmp","rsig","bsig","Var","Class","Points"], header=False, index=False)

In [9]:
create_table()

In [10]:
ingest("macho_for_db.dat")

### Create a coordinate list of OGLE sources

In [59]:
def ogle_coordlist(fname):
    sql = "SELECT ra, decl FROM agbtables.ogle3_agbs WHERE ra > 0"
    cursor.execute(sql)
    output = cursor.fetchall()
    
    fmt = "%f\t%f\n"
    fout = open(fdir+"/"+fname, "w")
    for ii in range(len(output)):
        fout.write(fmt % output[ii])
        
    fout.close()

In [ ]:
def read_vizier_matched(fin):
    f = open(fin).readlines()
    keep_lines = [line for line in f if line.startswith("#") == False)]
    columns = keep_lines[0][:-1].split("|")
    data = {}
    for ii in range(len(columns)):
        data[columns[ii]] = []
        
    for ii in range(3, len(keep_lines)):
        the_line = keep_lines[ii][:-1].split("|")
        for jj in range(len(columns)):
            value = the_line[jj]
            try:
                value = float(value)
                data[columns[jj]].append(value)
            except ValueError:
                value = value
                data[columns[jj]].append(value)
    
    data = pd.DataFrame(data)
    return data

In [60]:
ogle_coordlist("ogle_coordlist.dat")

In [61]:
matchfile = fdir + "/" + "ogle_macho_match2.tsv"

In [62]:
matched = read_vizier(matchfile)

In [63]:
len(matched)

2487

In [64]:
matched.columns

Index([u'Class', u'Data', u'Field', u'LC', u'Points', u'Rmag', u'Seqn', u'Tile', u'Var', u'Vmag', u'_1', u'_DEJ2000', u'_Glat', u'_Glon', u'_RAJ2000', u'_r', u'bAmp', u'bPer', u'bPoints', u'bSupRSA', u'bchi2', u'bsig', u'cAmp', u'cPoints', u'rAmp', u'rPer', u'rPoints', u'rSupRSA', u'rchi2', u'rsig'], dtype='object')

In [124]:
def create_match_table():
#     sql = "DROP TABLE agbtables.macho_ogle_match;"
#     cursor.execute(sql)
    
    sql = "CREATE TABLE agbtables.macho_ogle_match (match_cnt INT NOT NULL AUTO_INCREMENT,"
    sql += "field INT, tile INT, seq INT, ra DOUBLE, decl DOUBLE, glon DOUBLE, glat DOUBLE, per_r DOUBLE, per_b DOUBLE,"
    sql += "vmag DOUBLE, rmag DOUBLE, r_amp DOUBLE, b_amp DOUBLE, br_amp DOUBLE,"
    sql += "rsig DOUBLE, bsig DOUBLE, var_idx DOUBLE, star_class INT, n_obs INT, matchrad DOUBLE, oglera DOUBLE, ogledec DOUBLE,"
    sql += "PRIMARY KEY (match_cnt))"

    cursor.execute(sql)

In [118]:
def ingest_match(fname):
    sql = "LOAD DATA LOCAL INFILE '%s'" % (fdir+"/"+fname)
    sql += " INTO TABLE agbtables.macho_ogle_match FIELDS TERMINATED BY ',' ("
    sql += "field, tile, seq, ra, decl, glat, glon, per_r, per_b,"
    sql += "vmag, rmag, r_amp, b_amp, br_amp, rsig, bsig, var_idx, star_class, n_obs, matchrad, oglera, ogledec"
    sql += ");"
    
    sql_file = open(fdir+"/load_data.sql", "w")
    sql_file.write(sql)
    sql_file.close()
    os.system("mysql -u root --password=root < %s/load_data.sql" % fdir)

In [119]:
oglera = []
ogledec = []

In [120]:
for ii in range(len(matched)):
    pos = matched["_1"].ix[ii].split()
    oglera.append(pos[0])
    ogledec.append(pos[1])

In [121]:
matched["ogle_ra"] = oglera
matched["ogle_dec"] = ogledec

In [122]:
matched.to_csv(fdir+"/matched_for_db.dat", sep=",", columns=["Field","Tile","Seqn","_RAJ2000","_DEJ2000","_Glat","_Glon","rPer","bPer","Vmag","Rmag","rAmp","bAmp","cAmp","rsig","bsig","Var","Class","Points","_r","ogle_ra","ogle_dec"], header=False, index=False)

In [125]:
create_match_table()
ingest_match("matched_for_db.dat")

In [ ]:
def create_match_table_alldata():
#     sql = "DROP TABLE agbtables.macho_ogle_match;"
#     cursor.execute(sql)
    
    sql = "CREATE TABLE agbtables.macho_ogle_match_alldata AS (SELECT * "
    sql += "FROM ogle3_agbs AS o INNER JOIN macho_ogle_match AS m "
    sql += "WHERE m.oglera = o.ra AND m.ogledec = o.decl"
    sql += ")"
    sql += "PRIMARY KEY (match_cnt))"

    cursor.execute(sql)